.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 0.5rem;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: rgb(114, 114, 114);
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgb(172, 172, 172);
}

.card-trainer-image-container {
  position: relative;
  top: -2rem;
  width: 10rem;
  height: 10rem;
}

.card-trainer-image {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: top left;
  border-radius: 5px;
}

.card-info-header {
  text-transform: capitalize;
  color: rgb(13, 58, 39);
  font-weight: 700;
  margin-bottom: 3px;
}

.card-info-trainer {
  text-transform: capitalize;
  font-weight: 700;
  color: rgb(70, 70, 70);
}

.card-sub {
  font-weight: 700;
  text-transform: capitalize;
  color: rgb(13, 58, 39);
}

.card-sub-info {
  text-transform: capitalize;
}

.card-info-scheduler {
  justify-self: end;
  align-self: end;
}

.card-info-rating {
  justify-self: end;
}

.card-info-users {
  display: flex;
  align-self: end;
}

.button-schedule {
  text-shadow: 0px 1px 4px rgb(75, 75, 75);
  box-shadow: 0px 5px 10px 0px rgb(150, 150, 150);
  font-weight: 700;
  padding: 0.5rem 2.4rem !important;
}

.button-schedule-active {
  background-color: rgb(0, 168, 14) !important;
  padding: 0.5rem 2rem !important;
}

.stars {
  margin-bottom: 5px;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}

.outer-circle {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 1rem;
}

.inner-circle {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #000;
  border-radius: 0.9rem;
  transform: translateX(0.1rem) translateY(0.1rem);
}

.circle-0 {
}

.circle-1 {
  position: relative;
  left: -0.6rem;
}

.circle-2 {
  position: relative;
  left: -1.2rem;
}
.circle-3 {
  position: relative;
  left: -1.8rem;
}
.circle-4 {
  position: relative;
  left: -2.4rem;
}

.inner-circle-0 {
  background-color: rgb(255, 0, 0);
}

.inner-circle-1 {
  background-color: rgb(238, 255, 0);
}

.inner-circle-2 {
  background-color: rgb(0, 132, 255);
}

.inner-circle-3 {
  background-color: rgb(162, 0, 255);
}

.inner-circle-4 {
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.inner-circle-4-text {
  position: relative;
  top: -0.2rem;
  left: -0.2rem;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .card-trainer-image {
    height: 11rem;
    width: 11rem;
  }
}

@media (min-width: 992px) {
  .card-trainer-image {
    height: 9rem;
    width: 9rem;
  }
}

@media (min-width: 1200px) {
  .card-trainer-image {
    height: 10rem;
    width: 10rem;
  }
}

@media (min-width: 1600px) {
  .card-trainer-image {
    height: 11rem;
    width: 12rem;
  }
}
