.footer {
  background-color: #000;
  color: #fff;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: auto;
}

.footer-container > div {
  margin: 1rem;
  padding: 1rem;
}

.footer-brand {
  flex: 2;
}

.footer-col {
  flex: 1;
}

.footer-col > div {
  font-size: 0.8rem;
  text-transform: capitalize;
  line-height: 1.8rem;
  cursor: pointer;
}

.footer-brand > div {
  font-size: 0.8rem;
  text-transform: capitalize;
  margin: 1rem 0;
}

.footer-col-head {
  font-weight: 700;
  text-transform: uppercase !important;
  cursor: default !important;
}

.footer-brand-head {
  font-weight: 700;
  font-size: 0.9rem !important;
  text-transform: capitalize;
  margin: 3rem 0 1rem 0 !important;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .footer-container {
    width: 80%;
    flex-direction: row;
    padding: 3rem 0;
  }
}

@media (min-width: 1200px) {
}
