* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 240, 240);
}

a {
  color: inherit;
  text-decoration: none;
}

.color-theme2 {
  color: #01b204;
}

.color-theme {
  color: #414ff4;
}

#main-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

button.button-primary {
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  box-sizing: border-box;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #414ff4;
  cursor: pointer;
}

#header-background {
  background: url("./../assets/images/header-background.jpg");
  min-height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.img-overlay {
  min-height: 40rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

#title-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
}

.search-container .search-bar {
  flex: 1;
  margin-right: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-style: italic;
}

.heading-container {
  margin: 1rem;
}

.search-container .button-primary {
  padding: 1rem 2rem;
}

.heading-container h1,
.heading-container span {
  letter-spacing: 3px;
  font-size: 3rem;
}

.heading-container span {
  font-style: italic;
}

.heading-container h1 {
  color: #fff;
}

@media (min-width: 576px) {
  * {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }

  #main-container {
    width: 90%;
  }

  #header-background {
    min-height: 35rem;
  }

  .img-overlay {
    min-height: 35rem;
  }
}

@media (min-width: 992px) {
  #main-container {
    width: 80%;
  }

  #header-background {
    min-height: 35rem;
  }

  .img-overlay {
    min-height: 35rem;
  }
}

@media (min-width: 1200px) {
  #header-background {
    min-height: 32rem;
  }

  .img-overlay {
    min-height: 32rem;
  }
}
